.case-tile-bg {
    --sds-c-icon-color-foreground-default: white;
}

.selected * {
    color: white;
}

.item-grey {
    background-color: #f2f2f2;
}

[data-selected='true'] {
    background-color: var(--lwc-brandAccessible, rgba(1, 118, 211, 1)) !important;
}
